@media (min-width:40em) {
/*Header & Navigation bar*/
nav{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    margin-right: 10px;
    /* grid-template-columns: 1fr 2fr; */
}

header nav img{
    width:70%;
}

p,a.btn, a.btn2{
    font-size:115%;
}

.dropdown-content li{
    margin-left: 0px;
    /* font-size: 12px; */
}

li.drop-trigger.dropdown{
    margin: 0;
    padding: 0;
    max-width: 12rem;
}

nav ul{
    grid-column: 2/3;
    grid-row: 1/2;
}

nav ul li a{
    /* padding-top:2em;
    padding-bottom:2em; */
    padding-top:3vw;
    padding-bottom:3vw;
} 

span#drop-menu.drop-trigger,span#drop-menu2.drop-trigger2{
    /* padding-top:2em;
    padding-bottom:2em; */
    padding-top:3vw;
    padding-bottom:3vw;
}

nav ul.main-nav{
    display: flex;
    gap: 5px;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    /* margin-left: 2vw; */
} 

/* li.drop-trigger.dropdown{
    min-width: 12rem;
} */

#drop-menu,#drop-menu2{
    display:inline-block;
    text-align:left;
    font-size: 14px;
    margin: 0;
}

#drop-menu2{
    min-width:4rem;
}

.dropdown{
    width:100%;
    position: relative;
}

.dropdown-content{
    position: absolute;
    width:inherit;
}

.dropdown-content2{
    position: absolute;
    max-width:10em;
}

a.content{
    padding: 1rem;
}

li.drop-trigger.dropdown{
    min-width: 11rem;
}

.three{
    display:none;
}
/*Body*/
main{
    margin-left: 2vw;
    margin-right: 2vw;
}

article section p{
    margin-left: 2vw;
    margin-right: 2vw;
}

section img.software{
    float: right;
    width: 30%;
    margin: 1rem;
    margin-bottom: 0.5rem;
}

/* main section ul li{
    word-wrap: break-word;
    word-break: break-all;
} */

article iframe{
    width: 60%;
    height: 25r;
}

div.reports  {
    display: flex;
    flex-direction:row;
}

img.price-table{
    max-width: 70%;
}

div.reports #myImg{
    width:100%;
}

/*footer*/

    footer{
        clear:both;
        display:flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding-left:12%;
        padding-right:12%;
        }

    footer .footer_2{
        align-items: center;
        grid-column: 2/3;
    }

    footer p{
        grid-column: 1/4;
        grid-row:2/3;
    }
}