/*Header & general stuff */
h1,h2,h3,h4,h5{
    font-family: 'Source Sans Pro', sans-serif;
    word-break:keep-all;
    word-wrap:break-word;
}

p,li,a{
    font-family: 'Cabin', sans-serif;    
    text-decoration: none;
}

header{
    background-color: #000807;
    position: sticky;
    z-index: 1;
    top: 0; 
    padding-top:10px;
    padding-bottom: 10px;
    transition: all .4s .2s;
    box-shadow: 0px 20px 30px rgb(36, 36, 36);
}

/*Navigation bar*/
nav{
    display:grid;
    align-items: center;
    grid-template-columns: repeat(5,20%);
}

header nav img{
    /* margin-left:10px;
    margin-right: 10px; */
    width:8rem;
    grid-column: 1/4; 
    justify-self: center;
    transition: transform .4s .2s;
}

header nav img:hover{transform: scale(1.2);  transition: all .4s .2s;}

.welcome{
    max-width: 100%;
}

.three, .three.open {
    grid-column: 5/6;
    justify-self: end; 
    /* grid-column: 2/3; */
    font-size: 35px;
    background: none;
    border: none;
    cursor: pointer;
    padding-left: 0;
    color: white;
    transition: transform .4s .2s;
}

.three:hover, .three.open:hover{transform: scale(1.1); transition: transform .4s .2s;} 

nav ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    /* grid-column: 1/3; */
    grid-column: 1/6; 
}

nav ul li a{
    display: block;
    padding:.8rem 2vw;
    color: white;
    transition: all .1s;
}

#drop-menu,#drop-menu2{
    display:inline-block;
    cursor:pointer;
    color: white;
    padding:.8rem 2vw;
    margin: 0;
    font-size: 16px;
}

li.drop-trigger.dropdown.show,li.drop-trigger.dropdown{
    cursor:pointer;
}

.dropdown-content li{
    text-indent: 10px;
    border-top: 1px solid #000807;
    background-color:#aa866b;
}

.drop-trigger2{
    display:block;
    color: white;
    cursor:pointer;
}

.dropdown-content2 li{
    text-indent: 10px;
    border-top: 1px solid #000807;
    background-color:#aa866b;
}

nav ul li.active{background-color:rgb(70, 69, 69); color:white; font-weight:bolder;} 
nav ul li.active a{color:white;font-weight:bolder;}
nav ul li a:hover{color:white;font-weight:bolder;} 
nav ul li a.content:hover{color:white;font-weight:bolder;} 


ul > li.drop-trigger.dropdown:hover > span{
    font-weight:bolder;
}

ul > li.drop-trigger2:hover > span{
    font-weight:bolder;
}

nav ul{display: none;}
nav ul.open {display: block;}

.three span:nth-child(1) {display: block;}
.three span:nth-child(2) {display: none;}

.three.open span:nth-child(1) {display: none;}
.three.open span:nth-child(2) {display: block; }

.drop-trigger span:nth-child(1) {display: block;}
.drop-trigger span:nth-child(2) {display: none; }

.drop-trigger.show span:nth-child(1) {display: none;}
.drop-trigger.show span:nth-child(2) {display: block;}

.show {display: block;}

/*body*/

main section{
    margin:1rem
}

main picture.single img{
    display: block;
    margin: auto;
    max-width: 80%;
    box-shadow:2px 8px 10px black;
    transition: all 1s;
}

main div.duo{
    display:flex;
    flex-direction: row;
    gap: 5px;
    justify-content: center;
    margin: auto;
}

main div.duo img {display:block; width: 90%; margin: auto; box-shadow:2px 8px 10px black; transition: all 1s;}

.offer{
    background-color:#000807;
    color: white;
    margin: auto;
    padding: 1em;
    text-align: center;
    margin-bottom:1rem ;
    transition: all 1s;
}

.btn2{
    display: block;
    background-color: white;
    color: #000807;
    padding:1rem;
    margin:auto;
    text-decoration: none;
    text-align: center;
    max-width:10em;
    transition: all 1s;
}

section .btn2:hover{ background-color:rgb(70, 69, 69); color: white; transition: all .5s;}

/*Footer*/
footer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 2.5em;
    padding: 20px;
    text-align: center;
    gap: .5rem;
    background-color:rgb(70, 69, 69);
    color: white;
}

.footer_2{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.footer_2 img{
    width: 50px;
}

footer a img{
    width: 80%;
    transition: all .4s .2s;
} 

footer a img:hover{transform: scale(1.2);  transition: all .4s .2s;}