@media only screen and (min-width:40em){

/*Header & Navigation bar*/
    nav{
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: space-between;
        font-size: 14px;
        margin-right: 10px;
        /* grid-template-columns: 1fr 2fr; */
        transition: all .4s .2s;
    }

    header nav img{
        width:80%;
        transition: all .4s .2s;
    }

    p,a.btn, a.btn2{
        font-size:115%;
    }
    
    .dropdown-content li{
        margin-left: 0px;
        /* font-size: 12px; */
    }

    li.drop-trigger.dropdown{
        margin: 0;
        padding: 0;
        max-width: 12rem;
    }

    nav ul{
        grid-column: 2/3;
        grid-row: 1/2;
    }

    nav ul li a{
        /* padding-top:2em;
        padding-bottom:2em; */
        padding-top:3vw;
        padding-bottom:3vw;
    } 

    span#drop-menu.drop-trigger,span#drop-menu2.drop-trigger2{
        /* padding-top:2em;
        padding-bottom:2em; */
        padding-top:3vw;
        padding-bottom:3vw;
    }

    nav ul.main-nav{
        display: flex;
        gap: 5px;
        flex-direction:row;
        align-items: center;
        justify-content: center;
        /* margin-left: 2vw; */
    } 
    
    /* li.drop-trigger.dropdown{
        min-width: 12rem;
    } */

    #drop-menu,#drop-menu2{
        display:inline-block;
        text-align:left;
        font-size: 14px;
        margin: 0;
    }

    #drop-menu2{
        min-width:4rem;
    }

    .dropdown{
        width:100%;
        position: relative;
    }

    .dropdown-content{
        position: absolute;
        width:inherit;
    }

    .dropdown-content2{
        position: absolute;
        max-width:10em;
    }

    a.content{
        padding: 1rem;
    }

    li.drop-trigger.dropdown{
        min-width: 11rem;
    }

    .three{
        display:none;
    }

/* Main tag*/

    main{
        margin: auto;
    }

    /* picture img.welcome{
        max-width:100%;
    } */

    img.welcome {
        /* width:100%; */
        /* width: 58vw; */
        /* height: 60vw; */
        width: 100%;
        /* max-height:58vw;
        max-width:58vw; */
    }

    section.company-description img{
        float:left;
        margin:15px;
        margin-bottom:10px;
        width:60%;
        min-width: 10rem;
        max-width: 25rem;
    }

    /* section.company-description P{
      clear: left;
    }  */

    .offer{
        clear:both;
    }

    a.btn{
        display:flex;
        justify-content: center;
        margin-bottom: 20px;
    }

    main section.introduction img{
        float: left;
        margin:15px;
        /* padding-bottom:15px; */
       /* min-width:10%; */
       width: 45%;
    }

    main section.company-description h2{
        padding-top:.7rem
    }

    /* main section.company-description p{
        display: block;
        margin: auto;
        max-width: 90%;
    } */

    main section.introduction h2{
        padding-top:.7rem
    }

    main section.clients{
        text-align: center;
    }

    .previous {
        left: 13vw;
      }
    
    .next {
        right: 13vw;
      } 

    .images-slideshow {
        max-width: 80vw;
    }

/*footer*/

    footer{
        clear:both;
        display:flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding-left:12%;
        padding-right:12%;
        }

    footer .footer_2{
        align-items: center;
        grid-column: 2/3;
    }

    footer p{
        grid-column: 1/4;
        grid-row:2/3;
    }

     /* .test{
        clear: right; 
    }  */

}
