@media only screen and (min-width:40em){

/*Header & Navigation bar*/
    nav{
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: space-between;
        font-size: 14px;
        margin-right: 10px;
        /* grid-template-columns: 1fr 2fr; */
    }

    header nav img{
        width:70%;
    }

    p,a.btn, a.btn2{
        font-size:115%;
    }
    
    .dropdown-content li{
        margin-left: 0px;
        /* font-size: 12px; */
    }

    li.drop-trigger.dropdown{
        margin: 0;
        padding: 0;
        max-width: 12rem;
    }

    /* picture img. {
        width:70%;
    } */

    nav ul{
        grid-column: 2/3;
        grid-row: 1/2;
    }

    nav ul li a{
        /* padding-top:2em;
        padding-bottom:2em; */
        padding-top:3vw;
        padding-bottom:3vw;
    } 

    span#drop-menu.drop-trigger{
        /* padding-top:2em;
        padding-bottom:2em; */
        padding-top:3vw;
        padding-bottom:3vw;
    }

    nav ul.main-nav{
        display: flex;
        gap: 5px;
        flex-direction:row;
        align-items: center;
        justify-content: center;
        /* margin-left: 2vw; */
    } 
    
    /* li.drop-trigger.dropdown{
        min-width: 12rem;
    } */

    #drop-menu{
        display:inline-block;
        text-align:left;
        font-size: 14px;
        margin: 0;
    }
    .dropdown{
        width:100%;
        position: relative;
    }

    .dropdown-content{
        position: absolute;
        width:inherit;
    }

    a.content{
        padding: 1rem;
    }

    li.drop-trigger.dropdown{
        min-width: 11rem;
    }

    .three{
        display:none;
    }

/* Main tag*/

    main{
        margin: auto;
    }

    /* picture img.welcome{
        max-width:100%;
    } */

    img.welcome {
        width:100%;
        max-height:58vw;
    }

    section.company-description img{
        float:left;
        margin:15px;
        margin-bottom:0px;
        width:60%;
        max-width: 75%;
    }

    .offer{
        clear:both;
    }

    a.btn{
        display:flex;
        justify-content: center;
    }

    main section.introduction img{
        float: left;
        margin:15px;
        /* padding-bottom:15px; */
       /* min-width:10%; */
       width: 45%;
    }

    main section.company-description h2{
        padding-top:.7rem
    }

    main section.introduction h2{
        padding-top:.7rem
    }

/*footer*/

    footer{
        clear:both;
        display:flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding-left:12%;
        padding-right:12%;
        }

    footer .footer_2{
        align-items: center;
        grid-column: 2/3;
    }

    footer p{
        grid-column: 1/4;
        grid-row:2/3;
    }

     /* .test{
        clear: right; 
    }  */

};
