@media only screen and (min-width:68rem){
    /*Navigation bar*/
    
        nav ul li a{
            font-size: 14px;
            padding: 2rem;
        } 
    
        li.drop-trigger.dropdown{
            min-width: 14rem;
        }
    
        a.content{
            padding: 1.5rem;
        }
    
        span#drop-menu.drop-trigger{
            padding-top:2rem;
            padding-bottom:2rem;
        }
    }    